
.border1{
    background: linear-gradient(to left, blueviolet,white,blueviolet);
    text-align: center;
    border-color: #0069d9;    
}
.border2{
    background: linear-gradient(to left, greenyellow,white,greenyellow);
    text-align: center;
    border-color: #0069d9;    
}
.border3{
    background: linear-gradient(to left, yellow,white,yellow);
    text-align: center;
    border-color: #0069d9;    
}
.encima:hover{
    background: linear-gradient(to left, green,white,green);
    border-color: greenyellow;
    border-radius: 10px;
     text-align: center;
     width: 150px;
     color: red;
     cursor: pointer;
}